.windows-title {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    color: var(--md-primary-background);
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
    font-weight: 700;
    background: white;
    box-shadow: 0 5px 5px 0 rgba(255,255,255,1), 5px 0 5px 0 rgba(255,255,255,1);
}

.btn-windows, .btn-windows:focus, .btn-windows-close, .btn-windows-close:focus {
    color: #BBBBBB;
    -webkit-app-region: no-drag;
    padding: 0;
    margin: 0 5px;
    font-size: 25px;
    border: none;
    background: transparent;
    outline: none;
}

.btn-windows:hover.btn-windows:not(.removeHover) {
    color: #AAAAAA;
    position: relative;
    top: -1.5px;
    left: -1px;
}

.btn-windows-close:hover {
    color: #ff3333;
    position: relative;
    top: -1.5px;
    left: -1px;
}

.win-btn-grp {
    margin-right: 5px;
}

.win-btn-grp > button > i {
    vertical-align: middle;
}

#restartButton {
    color: var(--md-primary-background);
}