:root {
    --md-primary-background: #6200EE;
    --md-secondary-background: #03DAC6;
    --md-primary-dark-background: #3700B3;
    --md-secondary-dark-background: #018786;
    --md-primary-foreground: #FFFFFF;
    --md-secondary-foreground: #495057;
}

app-root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

app-home {
    height: 100%;
}

@font-face {
    font-family: Roboto;
    src: url('src/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Indie Flower;
    src: url('src/assets/fonts/Indie_Flower/IndieFlower-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Nova Mono;
    src: url('src/assets/fonts/Nova_Mono/NovaMono-Regular.ttf') format('truetype');
}

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}