<div style="height: 100%;" class="d-flex flex-column justify-content-center">

  <!-- Stats Frame -->
  <div id="statsFrame" *ngIf="started && currentQuestion && !timesUp" class="d-flex justify-content-between">

    <!-- Score -->
    <span id="score" class="d-flex px-2">
      <p class="m-1">Score:</p>
      <p class="m-1">{{score}}</p>
    </span>
    <!-- Timer -->
    <span id="timer" class="d-flex px-2">
      <p class="m-1">Time:</p>
      <p id="timerValue" class="m-1">{{getFormattedTime()}}</p>
    </span>
  </div>

  <div id="questionFrame">

    <!-- Loading screen -->
    <div *ngIf="((started && currentQuestion === null) || !(categories.length > 0)) && !timesUp" class="d-flex flex-column justify-content-center align-items-center">
      <i class="fas fa-spinner m-5"></i>
      <span id="information" *ngIf="informationMessage">
        <p class="m-1">{{informationMessage}}</p>
      </span>
    </div>

    <!-- Start screen -->
    <div *ngIf="(!started || timesUp) && categories.length > 0" class="d-flex flex-column justify-content-around align-items-center m-2">

      <div class="container">
        <div class="row justify-content-center">
          <!-- Category -->
          <div id="category" class="btn-group form-control w-75" dropdown>
            <label style="white-space: nowrap;">Category :</label>
            <button id="button-animated" dropdownToggle type="button" class="dropdown-toggle"
                    aria-controls="dropdown-animated">
                    <span class="flex-grow-1">{{categories.length > 0 && selectedCategory >= 0 ? categories[selectedCategory].name + '\t' : 'Select category\t'}}</span><span class="caret"></span>
            </button>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-animated">
              <li (click)="onSelectCategory(i)" *ngFor="let category of categories; let i = index;" role="menuitem"><span class="dropdown-item">{{category.name}}</span></li>
            </ul>
          </div>
        </div>
        <div class="row justify-content-center">
          <!-- High Scores -->
          <span id="highScore" class="w-75">
            <app-high-scores [score]="score"></app-high-scores>
          </span>
        </div>
      </div>

    </div>

    <div *ngIf="started && currentQuestion && !timesUp">
      <!-- Questions -->
      <span id="question">
        <span class="d-flex mb-2">
          <p class="m-1">Category:</p>
          <p class="m-1" [innerHTML]="currentQuestion.category"></p>
        </span>
        <span class="d-flex mb-2">
          <p class="m-1">Question:</p>
          <p class="m-1" [innerHTML]="currentQuestion.question"></p>
        </span>
      </span>
      <!-- Answers -->
      <span id="answers" class="d-flex flex-column">
        <button class="btn btn-primary" (click)="submitAnswer($event, currentQuestion.answerA.correct)">
          <span class="d-flex">
            <p class="m-1">A:</p>
            <p class="m-1 flex-grow-1" [innerHTML]="currentQuestion.answerA.answer"></p>
          </span>
        </button>
        <button class="btn btn-primary" (click)="submitAnswer($event, currentQuestion.answerB.correct)">
          <span class="d-flex">
            <p class="m-1">B:</p>
            <p class="m-1 flex-grow-1" [innerHTML]="currentQuestion.answerB.answer"></p>
          </span>
        </button>
        <button class="btn btn-primary" (click)="submitAnswer($event, currentQuestion.answerC.correct)">
          <span class="d-flex">
            <p class="m-1">C:</p>
            <p class="m-1 flex-grow-1" [innerHTML]="currentQuestion.answerC.answer"></p>
          </span>
        </button>
        <button class="btn btn-primary" (click)="submitAnswer($event, currentQuestion.answerD.correct)">
          <span class="d-flex">
            <p class="m-1">D:</p>
            <p class="m-1 flex-grow-1" [innerHTML]="currentQuestion.answerD.answer"></p>
          </span>
        </button>
      </span>
      </div>
  </div>
</div>

<div class="d-flex flex-wrap align-items-start" id="background">
    <i *ngFor="let item of backgroundTile" class="fas fa-question"></i>
</div>